.wpf-dashboard {
    padding: 20px;
}

.WPRM-choose-template-form {
    .WPRM-search-container {
        display: flex;
        gap: 30px;

        .el-input__wrapper {
            min-width: 440px !important
        }
    }
}

.el-radio-button__original-radio:checked+.el-radio-button__inner {
    border-color: $active-color !important;
    background-color: $active-color !important;
    color: #fff !important;
}

.el-radio-button__inner:hover {
    color: $active-color !important;
}