.adrm-form-editor {
    .adrm-form-editor__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // @include adrm-box-wrapper;
        margin-bottom: 20px;

        .adrm-form-editor__header__title {
            @include h2;
        }
    }

    .adrm-form-editor__action {
        @include adrm-box-wrapper;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .adrm-form-editor__action_left {
            margin-right: 20px;
            .adrm-radio-group-wrapper {
                padding: 8px;
                border-radius: 4px;
                border: 1px solid $border-color;
            }
        }
        &.adrm-form-editor__action__right {
            margin-left: 20px;
        }
    }

    .adrm-form-body {
        display: flex;
        gap: 20px;

        .adrm-form-body__left {
            @include adrm-box-wrapper;
            width: 70%;

            .form-label {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }

        .adrm-form-body__right {
            width: 30%;
            @include adrm-box-wrapper;
            margin-left: 20px;

            h2 {
                padding-bottom: 10px;
                border-bottom: 1px solid $border-color;
            }

            .dragArea {
                margin-top: 20px;
            }
        }

    }
}