.WPRM-admin-page {
    margin-left: -20px;
    background-color: $background-color;
    min-height: 100vh;

    .main-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        justify-content: space-between;

        .WPRM-menu-item {
            display: flex;
            gap: 20px;
            padding: 16px;

            a {
                color: $text-dark;
                text-decoration: none;
                padding: 8px 14px;

                &:hover {
                    color: $primary-color;
                }
            }

            .router-link-active {
                color: $primary-color;
                background-color: $primary-50;
                padding: 8px 14px;
                border-radius: 8px;
            }
        }
    }
}