.adrm-reviews-wrapper{
    background-color: $gray-50;
    padding: 30px;
    h3 {
        color: $text-dark;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        padding-bottom: 30px;
    }
}