.adrm_food_review_template {
    div {
        padding: 0px;
    }
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    .adrm-reviewer-info {
        min-width: 150px;
        text-align: center;
        img {
            border-radius: 50%;
        }
        .adrm-reviewer-name {
            padding: 8px 0px;
            color: $text-dark;
            font-size: 14px;
            font-weight: 600;
        }
        .adrm-reviewer-email {
            word-break: break-all;
            color: $text-dark;
            font-size: 14px;
        }
    }

    .adrm-review-body {
        min-width: 400px;
        .adrm-review-rating {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .review-categories {
            .adrm-star-rating {
                display: flex;
                align-items: center;
                gap: 5px;
                line-height: 0px;
                label {
                    font-size: 1rem;
                }
            }
        }
    }
    .adrm-empty-review {
        text-align: center;
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        color: $text-dark;
    }
}

.review-filters {
    display: flex;
    gap: 10px;
    padding: 20px 0px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    .review-filter {
        padding: 5px 10px;
        border-radius: 5px;
        min-width: 300px;
        cursor: pointer;
        transition: all 0.3s;
        .filter-radio-inputs {
            display: flex;
            gap: 10px;
            align-items: center;
        
            input[type="radio"] {
                display: none;
        
                + label {
                    padding: 4px 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: all 0.3s;
                    color: #f90;
                    display: flex;
                    align-items: center;
                    border: 1px solid transparent;
                    background: #fff;
                    p {
                        font-size: 32px;
                        margin: 4px;
                        line-height: 10px;
                        margin-top: 14px;
                    }
                }
        
                &:checked + label {
                    border: 1px solid #f90;
                    background: #ffc1071a;
                }
            }
        }
    }
}