@import './rating_label.scss';
@import './template_one.scss';
.review-template_settings_wrapper {
    display: flex;
    gap: 30px;
    width: 100%;
    .review-template {
        /* display: flex; */
        margin: 0 auto;
        width: 70%;
        max-width: 1000px;
        @include adrm-box-wrapper;
        @media screen and (max-width: 768px){
            width: 100%;
            padding: 8px;
        }
    }
    .review-template-settings {
        @include adrm-box-wrapper;
        width: 30%;
    }
}