.adrm_review_temp_one {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
    padding: 20px !important;
    @media screen and (max-width: 768px){
      padding: 4px;
      gap: 10px;
    }
    .adrm_review_temp_one_avatar {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .adrm_review_temp_one_content {
        width: calc(100% - 100px);
      .adrm_review_temp_one_content_header {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        .date {
          font-size: 14px;
          font-weight: 600;
        }

        .adrm_review_temp_one_content_header_name {
          font-size: 14px;
          font-weight: 600;
          margin-top: 10px;
          color: $text-dark;
        }
        .adrm_review_temp_one_content_header_rating {
          display: flex;
          gap: 5px;
          .adrm_review_temp_one_content_header_rating_star {
            color: #f1c40f;
          }
        }
        @media screen and (max-width: 768px){
          display: block;
          .date {
            margin: 0;
          }
          .adrm_review_temp_one_content_header_name {
            margin: 0;
          }
        }
      }
      .adrm_review_temp_one_content_body {
        .review {
            @include adrm-paragraph;
            color: $text-dark;
            margin-bottom: 10px;
        }
        @media screen and (max-width: 768px){
          .review {
            margin-top: 0px;
          }
        }
      }
    }
}