$white: #ffffff;

$primary-color: #198754;
$primary-50: #E8F3EE;
$active-color: #FF9A00;
$active-50: #FFF5E5;
$accent-color: #16a085;

$background-color: #eaf2ef59;

$text-light: #fff;
$text-dark: #000000;

$border-color: #D6DAE1;
$border-color-light: #e8e8e85c;