$white: #ffffff;

$primary-color: #096A2E;

$primary-50: #E8F3EE;
$primary-100: lighten($primary-color, 40%);
$primary-200: lighten($primary-color, 30%);
$primary-300: lighten($primary-color, 20%);
$primary-400: lighten($primary-color, 10%);
$primary-500: $primary-color;
$primary-600: darken($primary-color, 10%);
$primary-700: darken($primary-color, 20%);
$primary-800: darken($primary-color, 30%);
$primary-900: darken($primary-color, 40%);
$primary-1000: darken($primary-color, 50%);


$active-color: #FF9A00;
$active-color-50: #ff9a0073;
$active-50: #FFF5E5;
$accent-color: #0d7042;

$background-color: #eaf2ef59;
$background-color-light: #dfeff7;

$text-light: #fff;
$text-dark: #26272e;
$text-dark-50: #26272e73;

$border-color: #D6DAE1;
$border-color-light: #e8e8e85c;

@mixin wprm-paragraph {
    color: $text-dark;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

@mixin wprm-box-wrapper {
    margin-bottom: 20px;
    background: $white;
    padding: 20px;
    border-radius: 8px;
}

@mixin h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

h2 {
    @include h2;
}