$white: #ffffff;

$primary-color: #096A2E;
$primary-50: #E8F3EE;
$active-color: #FF9A00;
$active-color-50: #ff9a0073;
$active-50: #FFF5E5;
$accent-color: #0d7042;

$background-color: #eaf2ef59;

$text-light: #fff;
$text-dark: #26272e;

$border-color: #D6DAE1;
$border-color-light: #e8e8e85c;

@mixin wprm-paragraph {
    color: $text-dark;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

@mixin wprm-box-wrapper {
    margin-bottom: 20px;
    background: $white;
    padding: 20px;
    border-radius: 8px;
}

@mixin h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

h2 {
    @include h2;
}