@import './global/variables.scss';
@import './global/tailwind.scss';
@import './global_css.scss';
@import './component/navbar.scss';
@import './component/dashboard.scss';
@import './component/app_table.scss';
@import './component/app_form.scss';
@import './element_overwrite.scss';
@import './component/card.scss';
@import './component/form_editor.scss';
@import './global/review_template/index.scss';
@import './component/notification.scss';
@import './component/paginations.scss';
@import './pages/index.scss';
// @import './component/rating.scss';

.label-editor-input {
    width: 100%;
    margin-bottom: 10px;
}


.adrm_pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    .pager-wrap {

        input.el-input__inner {
            border: none !important;
        }

        & .el-select input {
            background: #F5F6F7 !important;
            width: 125px;
        }
    }

    .pagination_page_list {

        .el-icon-arrow-right,
        .el-icon-arrow-left {
            color: #2d78e8 !important;
        }

        .el-pager li {
            margin: 0 5px;
            background: #f4f4f5;
            border-radius: 4px;

            &:hover {
                background-color: #2d78e8 !important;
                color: #fff !important;
            }
            
            &.active {
                background-color: #2d78e8!important;
                color: #fff !important;
            }
        }

    }
}

.adrm-heading {
    color: #000;
    margin: 0 0 20px;
    font-family: Heebo, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    overflow-wrap: break-word;
}
