a:focus {
    box-shadow: none;
}
.WPRM-delete-confirmation {
    p {
        font-size: 18px;
        
    }
}
.WPRM-shortcode {
    background: $background-color-light;
    padding: 4px 8px;
    border-radius: 4px;
}